# Logs
logs
*.log
npm-debug.log*

# Source Maps
*.map

# Dependency directories
bower_components
node_modules

# The actual build. This folder is excluded, because it is recommended to have
# a build server compile the theme.
dist

# Optional npm cache directory
.npm
